<ion-content>
  <div *ngFor="let quiz of myQuiz">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>{{quiz.quiz.date * 1000 | date: 'dd/MM'}}</p>
        </ion-col>
        <ion-col>
          <button (click)="goToQuiz(quiz.quiz.quizId)" *ngIf="!quiz.isRep">
            Go
          </button>
          <button (click)="goToRes(quiz.quiz.quizId)" *ngIf="quiz.isRep">
            Res
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
